@import "utils/fonts";
@import "utils/mixins";
@import "utils/vars";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: 1.3;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  &.overflow {
    overflow: hidden;
  }
}

body .blur {
  filter: blur(3px);
}



h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button,
textarea {
  outline: none !important;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.content {
  flex: 1 0 auto;
  a {
    transition: all .3s ease-in-out;
  }
}

.main {
  padding: 30px 0;
  width: 100%;
  &__img {
    margin-bottom: 30px;
    width: 100%;
  }
  &__title {
    margin-bottom: 30px;
    @media (max-width: 576px) {
      font-size: 30px;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  &__text {
    margin-bottom: 15px;
    line-height: 1.5;
    b {
      margin: 0 5px;
    }
  }
  ul {
    margin: 15px 0;
    li {
      padding-left: 20px;
      line-height: 2;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        width: 5px;
        height: 5px;
        background: black;
        border-radius: 50%;
      }
    }
  }
}

@import "modules";
@import "components";