footer.footer
  .container
    .row
      .col-lg-6
        .footer__logo
          a(href="#")
            img(src="../static/img/general/logo.png")
        .footer__info
          ul 
            li
              a(href="#")
                | Калорийность и состав
            li
              a(href="#")
                | Правовая информация
            li
              a(href="#")
                | Мы в соцсетях
        .footer__social
          ul
            li
              a(href="#")
                | YouTube
            li 
              a(href="#")
                | Instagram
            li
              a(href="#")
                | Facebook
            li
              a(href="#")
                | ВКонтакте
        .footer__copyright
          a(href="#")
            | YaBao Все праав защищены © 2021
          .visa
            +icon("visa")
            +icon("paypal")
            +icon("mastercard")
      .col-lg-6
        .footer__connect
          p Остались вопросы? А мы всегда на связи:
          .row 
            .col-lg-3.pb-3
              a(href="#")
                .footer__icon 
                  img(src="../static/img/content/viber.png")
            .col-lg-3
              a(href="#")
                .footer__icon 
                  img(src="../static/img/content/skype.png")
            .col-lg-3
              a(href="#")
                .footer__icon 
                  img(src="../static/img/content/messenger.png")
            .col-lg-3
              a(href="#")
                .footer__icon 
                  img(src="../static/img/content/telegram.png")
            .col-lg-3
              a(href="#")
                .footer__icon 
                  img(src="../static/img/content/facebook.png")
            .col-lg-3
              a(href="#")
                .footer__icon 
                  img(src="../static/img/content/vk.png")
            .col-lg-6.pb-3
              a(href="#")
                .footer__icon 
                  span Написать нам
          .footer__cta
            a(href="tel:+6494461709")
              | 8 800 333-36-62
            button(type='button', name='call').btn_call
              | Заказать звонок