footer.footer
  .container
    .row
      .col-lg-6
        .footer__logo
          a(href="#")
            img(src="../static/img/general/logo.png")
        .footer__info
          ul 
            li
              a(href="#")
                | Калорийность и состав
            li
              a(href="#")
                | Правовая информация
            li
              a(href="#")
                | Мы в соцсетях
        .footer__social
          ul
            li
              a(href="#")
                | YouTube
            li 
              a(href="#")
                | Instagram
            li
              a(href="#")
                | Facebook
            li
              a(href="#")
                | ВКонтакте
        .footer__copyright
        
      .col-lg-6