ul.nav
  each link, title in nav.navPages
    li.nav__item
      a(href= link).nav__link= title
      ul 
        li 
          a(href="#") Combo 1
        li
          a(href="#") Combo 2
        li 
          a(href="#") Combo 3
        li
          a(href="#") Combo 4
        li 
          a(href="#") Combo 5
        li
          a(href="#") Combo 6