ul.nav
  li.nav__item.has-menu
    a(href="#").nav__link Паста
      ul 
        li 
          a(href="#") Паста 1
        li
          a(href="#") Паста 2
        li 
          a(href="#") Паста 3
        li
          a(href="#") Паста 4
        li 
          a(href="#") Паста 5
        li
          a(href="#") Паста 6
  li.nav__item.has-menu
    a(href="#").nav__link Супы
      ul 
        li 
          a(href="#") Паста 1
        li
          a(href="#") Паста 2
        li 
          a(href="#") Паста 3
        li
          a(href="#") Паста 4
        li 
          a(href="#") Паста 5
        li
          a(href="#") Паста 6
  li.nav__item.has-menu
    a(href="#").nav__link Салаты
      ul 
        li 
          a(href="#") Паста 1
        li
          a(href="#") Паста 2
        li 
          a(href="#") Паста 3
        li
          a(href="#") Паста 4
        li 
          a(href="#") Паста 5
        li
          a(href="#") Паста 6
  li.nav__item.has-menu
    a(href="#").nav__link Напитки
      ul 
        li 
          a(href="#") Паста 1
        li
          a(href="#") Паста 2
        li 
          a(href="#") Паста 3
        li
          a(href="#") Паста 4
        li 
          a(href="#") Паста 5
        li
          a(href="#") Паста 6
  li.nav__item.has-menu
    a(href="#").nav__link Десерты
      ul 
        li 
          a(href="#") Паста 1
        li
          a(href="#") Паста 2
        li 
          a(href="#") Паста 3
        li
          a(href="#") Паста 4
        li 
          a(href="#") Паста 5
        li
          a(href="#") Паста 6
  li.nav__item.has-menu
    a(href="#").nav__link Акции
      ul 
        li 
          a(href="#") Паста 1
        li
          a(href="#") Паста 2
        li 
          a(href="#") Паста 3
        li
          a(href="#") Паста 4
        li 
          a(href="#") Паста 5
        li
          a(href="#") Паста 6
  li.nav__item
    a(href="#").nav__link Комбо
  li.nav__item
    a(href="#").nav__link Контакты
      