extends ../layout/main

block variables
  - var title = '24 NEWS | COVID-19 KHMELNITSKIY'
  - var pageClass = 'index-page'

block content
  .wrap-content
    include ../custom/index-home/welcome

block script