.btn_in-cart {
  @include size(126px, 36px);
  background: #FF2E65;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  border: none;
}

.btn_call {
  @include size(180px, 42px);
  background: #F3F3F7;
  border-radius: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #696F7A;
  border: none;
}

.btn_stock {
  @include size(160px, 48px);
  @extend .btn_in-cart;
}

.btn_cart {
  @include size(160px, 42px);
  @extend .btn_in-cart;
  font-weight: 600;
  font-size: 16px;
}

.swiper-button-prev, .swiper-button-next {
  @include size(36px);
  display: flex; 
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  svg {
    @include size(30px);
    transform: rotate(-180deg);
    fill: #FF2E65;
    opacity: 0.8;
  }
}

.swiper-button-next {
  left: initial;
  right: -40px;
  svg {
    transform: rotate(0);
  }
}

.swiper-button-disabled {
  svg {
    opacity: 0.3;
  }
}

.swiper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  &-bullet {
    @include size(12px);
    display: block;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid gray;
    margin: 0 5px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #FF2E65;
  opacity: 0.8;
}