.btn_in-cart {
  @include size(126px, 36px);
  background: #FF2E65;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  border: none;
}

.btn_call {
  @include size(180px, 42px);
  background: #F3F3F7;
  border-radius: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #696F7A;
  border: none;
}

.btn_stock {
  @include size(160px, 48px);
  @extend .btn_in-cart;
}

.btn_cart {
  @include size(160px, 42px);
  @extend .btn_in-cart;
  font-weight: 600;
  font-size: 16px;
}

.swiper-button-prev, .swiper-button-next {
@include size(36px);
display: flex; 
justify-content: center;
align-items: center;
position: absolute;
top: 50%;
left: -50px;
transform: translateY(-50%);

}

.swiper-button-next {
left: initial;
right: -50px;
}

.swiper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  &-bullet {
    @include size(12px);
    display: block;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #000;
    margin: 0 5px;
  }
  

}