.footer {
  width: 100%;
  &__logo {
    width: 100%;
  }
  &__info {
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      li {
        width: 50%;
        a {
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: #0E0C0D;
          opacity: 0.85;
        }
      }
    }
  }
  &__social {
    max-width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      li {
        width: 50%;
        a {
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          color: #0E0C0D;
          opacity: 0.7;
        }
      }
    }
  }
}