.header {
  width: 100%;
  padding-top: 14px;
  &--wrap {
    width: 100%;
    position: fixed;
    z-index: 9999;
    // transition: transition ;
    top: 0;
    left: 0;
    &.active {
      background-color: #fff;
      box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    }
  } 
  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 208px;
      height: 64px;
    }
  }
  &__info {
    @include lg {
      display: none;
    }
    p:first-child {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #231F20;
      padding-bottom: 5px;
      span {
        color: #FF2E65;
        margin-left: 5px;
      }
    }
    p:last-child {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #231F20;
      span.next {
        margin-left: 15px;
        position: relative;
        &::before {
          content: "";
          @include size(4px);
          background-color: #FF2E65;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%);
          left: -7px;
        }
      }
    }
  }
  &__cta {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include lg {
      display: none;
    }
    a {
      margin-left: 28px;
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      text-transform: uppercase;
      color: #FF2E65;
    }
  }
  &__login {
    width: 24%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: #696F7A;
      margin-left: 25px;
    }
  }
  &__burger {
    display: none;
  }
  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}