.header {
  width: 100%;
  padding: 15px 0;
  &--wrap {
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    &.active {
      background-color: #fff;
      box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
      @include lg {
        box-shadow: none;
      }
    }
  } 
  &__burger.active {
    @include lg {
      span:nth-of-type(1) {
        display: none;
      }
      span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
      }
      span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
      }
    }
  }
  &__burger {
    display: none;
    @include lg {
      @include size(30px);
      display: block;
	    position: relative;
	    z-index:2;
	    overflow: hidden;
      margin-right: 20px;
      span {
        @include size(30px, 3px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
      }
      span:nth-of-type(2) {
        top: calc(50% - 9px);
      }
      span:nth-of-type(3) {
        top: calc(50% + 9px);
      }
    }
  }
  &__menu.active {
    left: 0;
  }
  &__menu {
    @include size(100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include lg {
      @include size(380px, calc(100% - 94px));
      padding: 0 50px;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      bottom: 0;
      left: -100%;
      background-color: #fff;
      transition: all 0.5s ease-out;
      overflow-y: auto;
    }
    @include xs {
      width: 100%;
      padding: 0 30px 0 20px;
    }
  }
  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include lg {
      justify-content: flex-start;
    }
  }
  &__logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 208px;
      height: 64px;
    }
  }
  &__info {
    @include lg {
      display: none;
    }
    p:first-child {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #231F20;
      padding-bottom: 5px;
      span {
        color: #FF2E65;
        margin-left: 5px;
      }
    }
    p:last-child {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #231F20;
      span.next {
        margin-left: 15px;
        position: relative;
        &::before {
          content: "";
          @include size(4px);
          background-color: #FF2E65;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%);
          left: -7px;
        }
      }
    }
  }
  &__cta {
    @include lg {
      display: none;
    }
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      margin-left: 28px;
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      text-transform: uppercase;
      color: #FF2E65;
    }
  }
  &__social {
    display: none;
    @include lg {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      order: 3;
      padding-bottom: 20px;
      a {
        @include size(50px);
        margin: 0 25px 15px 0;
        img {
          @include size(100%);
        }
      }
      
    }
    @include sm {
      padding: 0;
      a {
        @include size(30px);
        margin: 0 15px 15px 0;
      }
    }
  }
  &__login {
    width: 24%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include lg {
      width: 100%;
      justify-content: flex-start;
      order: 1;
      padding-top: 15px;
    }
    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: #696F7A;
      margin-left: 25px;
      @include lg {
        margin-left: 0;
        margin-right: 25px;
      }
    }
  }
}