.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include lg {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    order: 2;
    padding: 20px 0;
  }
  &__item.has-menu.active {
    @include lg {
      &::after {
        transform: rotate(-90deg);
      }
    }
  }
  &__item {
    margin-right: 10px;
    position: relative;
    &:hover > ul {
      @media (min-width: 1200px) {
        display: block;
      }
    }
    &.has-menu {
      position: relative;
      &::after {
        content: "";
        @include size(10px);
        display: block;
        position: absolute;
        top: 6px;
        right: -14px;
        background-image: url('../img/svg/arrow.svg');
        background-size: contain;
        background-position: 0 0;
        background-repeat: no-repeat;
        transform: rotate(90deg);
        z-index: 5;
      }
    }
    @include lg {
      width: 100%;
      margin: 0;
      margin-bottom: 15px;
    }
    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 2;
      background-color: #fff;
      @include lg {
        position: relative;
        top: initial;
        left: initial;
        padding-top: 10px;
      }
      li {
        width: 150px;
        padding: 10px;
        a {
          @extend .nav__link;
        }
      }
    }
  }
  &__link {
    font-weight: 600; 
    font-size: 15px;
    line-height: 18px;
    color: #0E0C0D;
  }
}