.nav {
  width: 76%;
  min-height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    margin-right: 10px;
  }
  &__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #0E0C0D;
    &:hover {
      color: #FF2E65;
      transition: all 0.5s ease-out;
    }
  }
}