.nav {
  width: 100%;
  min-height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include lg {
    max-width: 95git%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  &__item {
    margin-right: 10px;
    @include lg {
      margin-right: 30px;
    }
  }
  &__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #0E0C0D;
  }
}